<div class="navbar">
  <div class="topnav">
    <a href="#about">Server: </a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADUSURBVDhPrdExC0FRGIDha0NJYZSyKmWRnWS1yG+QMvgbstzZqAw2EwuDMsmm5BcoGSwkxPudM93bOTfkrSffJ87V4VgKI6nHz6tihSdeOKKPOAJr4Q75cB5p1LHDFgkYy+GBhtq8RbDGUG2GXEz0aKwIOdx4D0t09GjthIoevS3Q1aOxEM4oqc1XD3M9GivjipjafGVxQVtt3lLYQx5grYkbRqhBfqIcdoD851PIzVsrYAy5HPmZG8hFziAHyGvgAaai+NsBA3nj2+SJ8sWM2n7Pcd5g1CpWzp0itQAAAABJRU5ErkJggg==">
        </button>
      </form>
    </div>
    <div style="float:right;margin-right:20px">
      <tools></tools>
    </div>
  </div>
</div>