<!-- <div class="sidebar">
    <div id="test" class="tree">
        <ul class="root">
            <li class="parent_li"><span title="Verkleinern">Test 1</span>
                <ul>
                    <li class="parent_li"><span title="Verkleinern">Test 1</span>
                        <ul>
                            <li class="parent_li"><span title="Verkleinern">Test 1</span>
                                <ul>
                                    <li class="parent_li"><span title="Verkleinern">Test 1</span></li>
                                    <li class="parent_li"><span title="Verkleinern">Test 2</span></li>
                                    <li class="parent_li"><span title="Verkleinern">Test 3</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div> -->

<div class="sidebar">
    <div class="tree">
        <node 
         root-is-file="self.rootNode.rootIsFile"
         root-name="self.rootNode.rootName"
         files="self.rootNode.files"
         folders="self.rootNode.folders"
         item-click="self.itemSelectHandle">
        </node>
    </div>
</div>